# R session files
.Rhistory
.RData
.Rproj.user/

# RStudio project settings
*.Rproj

# Mac system files
.DS_Store

# The datasets folder
datasets/*
!datasets/README.md

# Data files
*.csv
*.tsv
*.txt
*.gz
*.zip

# Sequencing files
*.fastq
*.fq
*.bam
*.sam

# Logs
*.log